

.about-container {
    padding: 20px;
    max-width: 800px;
    margin-top: 30px;
    font-family: Arial, sans-serif;
    margin-left: 30%;
  }
  
  .about-container h1 {
    text-align: left;
    color: #2c3e50;
    font-size: 100px;
    text-decoration:none;
    padding: 10px;
  }
  .mission p{
    font-size: 20px;
    color: black;

  }
  .about-container h2 {
    color: #191d20;
    font-size: 30px;
    margin-top: 30px;
   display: inline;
   text-align:left;
   
  }
  
 .about-container section {
    margin-bottom: 20px;
 }
  
 .about-container ul {
    list-style-type: disc;
    margin-left: 20px;
    font-size: 20px;
    text-align: initial;
  }
  
  .about-container blockquote {
    border-left: 4px solid #2980b9;
    padding-left: 10px;
    font-style: italic;
  }