
.auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    height: 100vh;
    background: url('../images/background1.jpg') no-repeat center center fixed;
    background-size: cover;
    padding: 20px;
    box-sizing: border-box;
  }
  
  
  .toggle-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;  
    width: 100%;
    max-width: 400px;
  }
  
  .toggle-button {
    background-color: #f0f0f0;
    color: #333;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
    font-weight: bold;
    width: 48%;
    margin-right: 4px; 
  }
  
  .toggle-button:last-child {
    margin-right: 0;
  }
  
  .toggle-button.active {
    background-color: #007bff;
    color: white;
  }
  
  .toggle-button:hover {
    background-color: #007bff;
    color: white;
  }
  
  /* Form container */
  .form-container {
    background-color: rgba(255, 255, 255, 0.9); 
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
  }
  
  h1 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
  }
  
  /* Input fields */
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    box-sizing: border-box;
  }
  
  input[type="submit"] {
    width: 100%;
    padding: 12px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  input[type="submit"]:hover {
    background-color: #0056b3;
  }
  
  /* Error message */
  .error-message {
    color: red;
    margin-top: 15px;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
  }
  
  /* Mobile responsiveness */
  @media (max-width: 600px) {
    .form-container {
      padding: 20px;
    }
  
    .toggle-button {
      font-size: 14px;
      padding: 8px 16px;
    }
  
    input[type="submit"] {
      font-size: 14px;
      padding: 10px;
      /* border-radius: 45px; */
    }
  }
  